In [2]:
import pandas as pd
df = pd.read_csv("data.csv")

Lets see the details about the data set

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

Data contains 29 columns for variables, the first column is a datetime, which means its a time series data


The variable names are a bit confusing so i;ll try to write these names clearly

__Datetime__    &emsp; : Date and time in Year-Month-Day Hour:Minute:Second

__EnergyApp_Wh__ &emsp;: Energy use in Watthours

__lights_Wh__ &emsp;: energy use of light fixtures in the house in Wh


__T1_kitchen__ &emsp; : Temperature in kitchen area


__Hum1_kitchen__ : Humidity in Kitchen

__T2_living__ : Temperature living room


__Hum2_living__ : Humidity living room
 
 
__T3_laundry__ : Temperature in laundry room area

__Hum3_Laundry__ : Humidity in laundry room area

__T4_office__ :  Temperature in office room in Celsius

__Hum4_office__ :  Humidity in office room in %


__T5_bathroom__: Temperature in bathroom, in Celsius

__Hum5_bathroom__: Humidity in bathroom, in %


__T6_outside_north__:

__Hum6_outside__:

__T7_iron_room__:

__Hum7_iron__:

__T8_teen_room__:

__Hum8_teen_room__:

__T9_parents__:

__Hum9_parents__:

__T10_outside_WS__:

__Pressure_mmHg__:


__Hum_outside_WS__:

__WindSpeed_WS_m/s__:

__Visibility_kilometer__:

__T_dew_point__:

__random_1__:

__random_2__:

In [5]:
header = ["datetime", "EnergyApp_Wh", "lights_Wh", "T1_kitchen", "Hum1_kitchen", "T2_living", "Hum2_living", "T3_laundry", "Hum3_Laundry", "T4_office", "Hum4_office", "T5_bathroom", "Hum5_bathroom", "T6_outside_north", "Hum6_outside", "T7_iron_room", "Hum7_iron", "T8_teen_room", "Hum8_teen_room", "T9_parents", "Hum9_parents", "T10_outside_WS", "Pressure_mmHg", "Hum_outside_WS", "WindSpeed_WS_m/s", "Visibility_kilometer", "T_dew_point", "random_1", "random_2"]
header

['datetime',
 'EnergyApp_Wh',
 'lights_Wh',
 'T1_kitchen',
 'Hum1_kitchen',
 'T2_living',
 'Hum2_living',
 'T3_laundry',
 'Hum3_Laundry',
 'T4_office',
 'Hum4_office',
 'T5_bathroom',
 'Hum5_bathroom',
 'T6_outside_north',
 'Hum6_outside',
 'T7_iron_room',
 'Hum7_iron',
 'T8_teen_room',
 'Hum8_teen_room',
 'T9_parents',
 'Hum9_parents',
 'T10_outside_WS',
 'Pressure_mmHg',
 'Hum_outside_WS',
 'WindSpeed_WS_m/s',
 'Visibility_kilometer',
 'T_dew_point',
 'random_1',
 'random_2']

In [7]:
df = pd.read_csv("data.csv")


df.columns = header
df.head()

,datetime,EnergyApp_Wh,lights_Wh,T1_kitchen,Hum1_kitchen,T2_living,Hum2_living,T3_laundry,Hum3_Laundry,T4_office,...,T9_parents,Hum9_parents,T10_outside_WS,Pressure_mmHg,Hum_outside_WS,WindSpeed_WS_m/s,Visibility_kilometer,T_dew_point,random_1,random_2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [8]:
df.info()

df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   datetime              19735 non-null  object
 1   EnergyApp_Wh          19735 non-null  int64
 2   lights_Wh             19735 non-null  int64
 3   T1_kitchen            19735 non-null  float64
 4   Hum1_kitchen          19735 non-null  float64
 5   T2_living             19735 non-null  float64
 6   Hum2_living           19735 non-null  float64
 7   T3_laundry            19735 non-null  float64
 8   Hum3_Laundry          19735 non-null  float64
 9   T4_office             19735 non-null  float64
 10  Hum4_office           19735 non-null  float64
 11  T5_bathroom           19735 non-null  float64
 12  Hum5_bathroom         19735 non-null  float64
 13  T6_outside_north      19735 non-null  float64
 14  Hum6_outside          19735 non-null  float64
 15  T7_iron_room          19735 non-null  float64
 16  Hum7_iron             19735 non-null  float64
 17  T8_teen_room          19735 non-null  float64
 18  Hum8_teen_room        19735 non-null  float64
 19  T9_parents            19735 non-null  float64
 20  Hum9_parents          19735 non-null  float64
 21  T10_outside_WS        19735 non-null  float64
 22  Pressure_mmHg         19735 non-null  float64
 23  Hum_outside_WS        19735 non-null  float64
 24  WindSpeed_WS_m/s      19735 non-null  float64
 25  Visibility_kilometer  19735 non-null  float64
 26  T_dew_point           19735 non-null  float64
 27  random_1              19735 non-null  float64
 28  random_2              19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

,EnergyApp_Wh,lights_Wh,T1_kitchen,Hum1_kitchen,T2_living,Hum2_living,T3_laundry,Hum3_Laundry,T4_office,Hum4_office,...,T9_parents,Hum9_parents,T10_outside_WS,Pressure_mmHg,Hum_outside_WS,WindSpeed_WS_m/s,Visibility_kilometer,T_dew_point,random_1,random_2
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,39.026904,...,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,4.341321,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,27.660000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,35.530000,...,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,38.400000,...,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,42.156667,...,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,51.090000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

In [10]:
# Dataframe shape is
df.shape
rows = df.shape[0]
col = df.shape[1]

In [12]:
# Check for null values
df.isnull().sum().sort_values(ascending=True)

# No null values good to go!

datetime                0
T_dew_point             0
Visibility_kilometer    0
WindSpeed_WS_m/s        0
Hum_outside_WS          0
Pressure_mmHg           0
T10_outside_WS          0
Hum9_parents            0
T9_parents              0
Hum8_teen_room          0
T8_teen_room            0
Hum7_iron               0
T7_iron_room            0
random_1                0
Hum6_outside            0
Hum5_bathroom           0
T5_bathroom             0
Hum4_office             0
T4_office               0
Hum3_Laundry            0
T3_laundry              0
Hum2_living             0
T2_living               0
Hum1_kitchen            0
T1_kitchen              0
lights_Wh               0
EnergyApp_Wh            0
T6_outside_north        0
random_2                0
dtype: int64